.page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.subtitle {
  font-family: sans-serif;
}

.vw50 {
  width: 50%;
}
.vw80 {
  width: 80%;
}

.list {
  list-style-type: upper-roman;
}


.image2 {
  width: 700px;
  height: 500px;
}
.image {
  width: 300px;
  height: 500px;
}

.paragraph {
  padding-top: 10px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  font-family: sans-serif;
}

.div_span {
  display: flex;
  flex-direction: row;
}

.content-container {
  margin-top: auto;
}



.color-primary {
  background-color: rgb(17, 103, 38);
  color: black;
}

.font {
  font-family: sans-serif;
}

.formal {
  padding: 0;
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

.fill {
  display: flex;
  justify-content: left;
  flex-direction: column;
  min-height: 80vh;
}

.margin-top {
  margin-top: 220px;
}

.margin-left {
  margin-left: 40px;
}
.content {
  margin-top: 100px;
  margin-bottom: 80px;

  padding: 20px;
}

.diagonal-bg {
  height: inherit;
  width: 10%;
  rotate: -40deg;
  transform: skewY(40deg);
  background-color: green;
}

.image_container {
  width: 50vw;

}
.metallic-color {
  background-image: linear-gradient(to right, #ccc, #333);
}

.db1 {
  background-color: green;
  z-index: 1;
}

.db2 {
  background-color: yellow;
  z-index: 1;
}

.db3 {
  background-color: aqua;
  z-index: 1;
}

.btn-header-normal {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px;
  box-shadow: inset;
}

.btn-nonactive-normal:hover {
  background-color: #f1f1f1;
}

.btn-active-normal {
  background-color: darkgray;
}

.github_link {
  text-decoration: underline;
  color: darkgray;
}
